
/* GENERAL */

:root{
    --top-background    : teal;
    --border-color      : teal;
    --secondary-color   : #DDD;
    --light-gray        : #f7f7f7;
    --menu-background   : rgb(0,0,0,0.2);
    --top-height        : 65px;
    --search-bar-width  : 500px;
}

body,html{
    box-sizing: border-box;
    /* overflow: hidden; */
}

*, *::after, *::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

a, a:visited{
    text-decoration: none;
    color: black;
    margin:0;
}

a:hover{
    color: darkgray;
    font-weight: 600;
}

textarea{
    resize:none;
}

/* ---------------------- MAIN DIV -----------------------*/

#top{
    top: 0; 
    left:0; 
    position: fixed;
    height:var(--top-height);
    width:100%; 
    background: var(--top-background);
    z-index:2;
    text-align:center;
}

#top>*{
    display: flex;   
    width:100%;
    height:100%;
    justify-content: space-evenly;
    align-items: flex-end;
    border-bottom: solid 3px black;
}

#top .menu-link{
    flex: 1 1 auto;
    padding: 6px 15px;
    /* justify-content: center; */
}

#top .filling{
    flex: 1 1 auto;
}

/* -----------------MAIN-------------------*/
.main{
    padding-top: var(--top-height);
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    display: flex;
    /* overflow-x: scroll; */
}

.main-page{
    height: 100%;
    flex: 0 0 100%;
}


/* Page 2*/
#main-page-2,
#main-page-4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2-top{
    flex:0 1 10rem;
    padding-top:45px;
}

#search{
    min-width:var(--search-bar-width);
    height: 30px;
    font-size: 14px;
    line-height: 100%;
    padding:10px;
}

@media (max-width: 560px){
    #main-page-2{
        align-items: stretch;
    }
    #search{
        min-width: 100%;
    }
    #centric-btn{
        display:none;
    }
}

#centric-btn{
    width: 32px;
    height: 32px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border: none;
    background-color: var(--secondary-color);
}

#search-results >li{
    padding:5px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    border: solid 1px var(--border-color);
    background:rgb(0,0,0,0.012);
    width: var(--search-bar-width);
}

#page2-center,
#page4-center{
    display:flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding-bottom: 5%;
    /* max-height: calc(100% - 350px); */
    overflow:hidden;
}

#page2-center>div{
    padding:15px;
    margin: 10px;
    border: solid 1px var(--secondary-color);
}

.display-item{
    background: var(--light-gray);
    padding: 10px;
    border: solid 1px black;
}

.editing-item{
    padding: 10px;
}

#template-div-title:hover,
#template-div{
    cursor:pointer;
}

.datetime-box{
    margin: 20px 0;
    padding: 10px;
    border: solid 1px var(--secondary-color);
    line-height: 20px;
    font-size: 14px;
}

.input-datetime{
    border:none;
}

#incident-txtbox{
    line-height:20px;
    border: solid 1px var(--border-color);
}

#datenow{
    border: solid 1px var(--border-color);
}


.template-area-title{
    width:400px;
    height: 35px;
    font-size: 10px;
    margin-bottom: 10px;
    /* margin: 10px 0; */
}

.template-area{
    display:block;
    width:400px;
    height: 80%;
    overflow-y:scroll;
    font-size: 12px;
}

@media (max-width: 560px){
    .template-area{
        height: 200px;
        overflow-y:scroll;
    }
}

.page2-btn{
    padding: 10px;
    border: solid 1px var(--border-color);
    background: white;
    color: black;
    font-size: 14px;
}

#slider{
    border: solid 1px black;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

.slider-btn{
    padding: 3px 10px;
}

/* Page 3*/
#page3-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page3-top{
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
}

.page3-center{
    width: 800px;
    border: solid 1px black;
    padding: 10px;
    flex: 1 1 450px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#page3-line{
    padding: 8px;
    margin: 1px;
    display: flex;
    justify-content: space-between;
    border: solid 1px lightcoral;
}

.page3-line-btn{
    margin: 0 2px;
}

#page3-ID{
    color: darkcyan;
    font-weight: 700;
}

/* Page 4*/
#page4-center{
    padding-top: 30px;
}

.main-page>h2{
    padding:5px;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#page4-form{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.page4-secondarycontent{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    border: solid 1px gray;
}

.page4-block{
    margin: 5px;
    padding:5px;
}
.page4-block>*{
    display: block;
    line-height: 20px;
    font-size: 14px;
}

.list-item-search-result{
    width: 100%;
}
.hidden{
    display:none !important;
}